body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  overflow: hidden;
  padding: 8px;
}

main {
  display: flex;
  height: 75vh;
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 0px;
  background-color: black;
  width: 99%;
  display: flex;
  align-items: center;
}
nav .logo {
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a img {
  height: 35px;
}
nav .search {
  height: 60px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .search button {
  background-color: #121212;
  border: none;
  padding: 10px;
  border-radius: 50%;
}

.search .right .left1 {
  border-radius: 50% 0 0 50%;
}

.search .right .left1 i {
  font-size: 22px;
  padding-left: 10px;
}

.search .right input {
  width: 380px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
}
.search .right .right1 {
  border-radius: 0 50% 50% 0;
}

.search .right .right1 i {
  font-size: 22px;
  padding-right: 10px;
}
nav .search button i {
  color: white;
  font-size: 25px;
}

nav .search input {
  background-color: #121212;
  height: 45px;
  border: none;
}

nav .about {
  height: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about .left {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about .right {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about .right a i {
  color: white;
}

.about .right button {
  background-color: transparent;
  border: none;
}

.about .right button img {
  height: 40px;
  border-radius: 50%;
}

.about .left .btn1 {
  border: none;
  color: black;
  border-radius: 25px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
}

.about .left .btn2 {
  background-color: transparent;
  border: none;
  color: #656565;
  font-weight: 700;
  font-size: 13px;
}


nav .search button:hover {
  background-color: rgba(75, 75, 75, 0.493);
  transition: 0.2s ease-in-out 0s;
}

.search input:hover {
  background-color: rgba(75, 75, 75, 0.493);
  transition: 0.2s ease-in-out 0s;
}

.about .left a button:hover {
  color: rgba(255, 255, 255, 0.733);
}

.sidebar {
  background-color: #121212;
  width: 400px;
  height: 100%;
  border-radius: 1rem; /* 16px */
  margin-right: 5px;
  overflow: auto;
}

.sidebar .top {
  height: 60px;
  display: flex
}


.sidebar .top .btn1{
  width: 60%;
  display: flex;
  align-items: center;
}

.sidebar .top .btn1 button{
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700;
}

.sidebar .top .btn2{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar .top .btn2 .left button{ 
  background-color: #6565652d; 
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.sidebar .top .btn2 .right button{
  background-color: transparent;
  border: none;
   color: #656565;
   font-size: 14px;
}

.sidebar .mid{
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar .mid button{
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #65656554;
  color: rgba(255, 255, 255, 0.87);
  font-size: 13px;
  font-weight: 500;
}

.sidebar .library{
  background-color: #121212;
  height: 100%;
  
}

.sidebar .library .head{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.sidebar .library .head button{
  background-color: transparent;
  border: none;
  color: #656565;
  font-size: 15px;
  font-weight: 500;

}

.sidebar .library .content {
  margin: 0 10px;
  overflow: auto;
}

.sidebar .library .content button{
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.774);
  align-items: center;
  font-weight: 500;
  border: none;
}

.sidebar .library .content button:hover{
  background-color: #6565654f;
}

.sidebar .library .content button .right2{
  margin-left: 10px;
}

.sidebar .library .content button p{
  font-size: 12px;
  justify-self: flex-start;
}

.sidebar .library .content button img{
  height: 50px;
  border-radius: 6px;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem; /* 16px */
  overflow: auto;
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

@media (max-width: 750px) {
  .search .right input {
    width: 250px;
  }

  .about .left .btn1 {
    display: none;
  }

  .about .right .user {
    display: none;
  }
  .search .left {
    margin-right: 8px;
  }
  .about .left {
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .search .right input {
    width: 240px;
  }

  .search .left {
    margin-right: 8px;
  }
  .about .left{
    display: none;
  }
  .about .right{
    display: none;
  }
}
